<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"/>
        <span class="icon-bar"/>
        <span class="icon-bar"/>
      </button>
      <a class="navbar-brand" href="#" th:text="#{survey}"/>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a th:href="@{/user/users}" id="menu-users" th:text="#{users}"/>
        </li>
        <li>
          <a th:href="@{/user/files}" id="menu-files" th:text="#{files}"/>
        </li>
        <li>
          <a th:href="@{/user/polls}" id="menu-polls" th:text="#{polls}"/>
        </li>
        <li class="divider"></li>
        <li>
          <a th:href="@{/about}" id="menu-about" th:text="#{about}"/>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <button id="logout" class="btn btn-default" th:formaction="@{/j_spring_security_logout}"
          th:title="#{logout}">
          <span class="glyphicon glyphicon-log-out"/>
        </button>
      </form>
    </div>
  </div>
</div>
